/* body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
} */
h1{
  color: whitesmoke;
}
form {
  background: whitesmoke;
  display: flex;
  color: white;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

